<!DOCTYPE html>
<html>
  <head>
    <title>Reconhecimento facial</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <script type="text/javascript" src="static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="static/js/knockout-3.5.1.js"></script>
    <script type="text/javascript" src="static/js/script.js"></script>
  </head>
  <body>
    <div class="bubbles" data-bind="foreach: people">
      <div class="bubble" data-bind="text: $data"></div>
    </div>
    <video id="video" class="video"></video>
  </body>
</html>
